[program:cloudflared]
command=/usr/local/bin/cloudflared tunnel run --token $TUNNEL_TOKEN
autostart=true
autorestart=true
startretries=5
startsecs=3
user=$USER
redirect_stderr=true
stdout_logfile=/var/log/supervisor/cloudflared.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=3
stopasgroup=true
killasgroup=true
